In [1]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
df=pd.read_csv('train.csv')
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [5]:
df = df.fillna(' ')

In [6]:
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [7]:
from nltk.tokenize import word_tokenize

text = str(df['text'])
word_tokenize(text)

['0',
 'House',
 'Dem',
 'Aide',
 ':',
 'We',
 'Didn',
 '’',
 't',
 'Even',
 'See',
 'Comey',
 '’',
 's',
 'Let',
 '...',
 '1',
 'Ever',
 'get',
 'the',
 'feeling',
 'your',
 'life',
 'circles',
 'the',
 'rou',
 '...',
 '2',
 'Why',
 'the',
 'Truth',
 'Might',
 'Get',
 'You',
 'Fired',
 'October',
 '29',
 ',',
 '...',
 '3',
 'Videos',
 '15',
 'Civilians',
 'Killed',
 'In',
 'Single',
 'US',
 'Airstr',
 '...',
 '4',
 'Print',
 '\\nAn',
 'Iranian',
 'woman',
 'has',
 'been',
 'sentenced',
 'to',
 '...',
 '...',
 '20795',
 'Rapper',
 'T.',
 'I.',
 'unloaded',
 'on',
 'black',
 'celebrities',
 'who',
 '...',
 '20796',
 'When',
 'the',
 'Green',
 'Bay',
 'Packers',
 'lost',
 'to',
 'the',
 'Washing',
 '...',
 '20797',
 'The',
 'Macy',
 '’',
 's',
 'of',
 'today',
 'grew',
 'from',
 'the',
 'union',
 'of',
 'sev',
 '...',
 '20798',
 'NATO',
 ',',
 'Russia',
 'To',
 'Hold',
 'Parallel',
 'Exercises',
 'In',
 'Bal',
 '...',
 '20799',
 'David',
 'Swanson',
 'is',
 'an',
 'author',
 ',',
 'activist',
 ',',
 'journa',
 '...',
 'Name',
 ':',
 'text',
 ',',
 'Length',
 ':',
 '20800',
 ',',
 'dtype',
 ':',
 'object']

In [8]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [9]:
df.label = df.label.astype(str)
df.label = df.label.str.strip()

In [10]:
dict = { '1' : 'REAL' , '0' : 'FAKE'}
df['label_map'] = df['label'].map(dict)
df.head()

,id,title,author,text,label,label_map
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,REAL
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,FAKE
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,REAL
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,REAL
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,REAL

In [11]:
df['label'].unique()

array(['1', '0'], dtype=object)

In [12]:
x_df = df['text']
y_df = df['label']

In [13]:
from sklearn.feature_extraction.text import TfidfTransformer

from sklearn.feature_extraction.text import CountVectorizer

from sklearn.feature_extraction.text import TfidfVectorizer

count_vectorizer = CountVectorizer()

count_vectorizer.fit_transform(x_df)

<20800x180445 sparse matrix of type '<class 'numpy.int64'>'
	with 6871545 stored elements in Compressed Sparse Row format>

In [14]:
freq_term_matrix = count_vectorizer.transform(x_df)

tfidf = TfidfTransformer(norm = "l2")
tfidf.fit(freq_term_matrix)
tf_idf_matrix = tfidf.fit_transform(freq_term_matrix)

print(tf_idf_matrix)

  (0, 153872)	0.008917324755964462
  (0, 153526)	0.04525694700538712
  (0, 153477)	0.010481516602223042
  (0, 153467)	0.010985819002751846
  (0, 152391)	0.04075129071622209
  (0, 152385)	0.08744923236839197
  (0, 152317)	0.03488076752649891
  (0, 152259)	0.0128116266838325
  (0, 151769)	0.026030620204596174
  (0, 151598)	0.024099308037638646
  (0, 151344)	0.00844977869471337
  (0, 150983)	0.03819114847800876
  (0, 150773)	0.008297181008050039
  (0, 150740)	0.02606194149968498
  (0, 150678)	0.025645129931467555
  (0, 150419)	0.01575717573710974
  (0, 150309)	0.011666528031125091
  (0, 150195)	0.026967418755208483
  (0, 150091)	0.01324965093514316
  (0, 149921)	0.057384548118919576
  (0, 149844)	0.01139913947063961
  (0, 149616)	0.05646716940798761
  (0, 148717)	0.026281365915191385
  (0, 148691)	0.019899039240389806
  (0, 148667)	0.01626410083038377
  :	:
  (20799, 6880)	0.014580717229874772
  (20799, 6797)	0.03602806675031722
  (20799, 6424)	0.011485155705407726
  (20799, 5581)	0.017095432173998924
  (20799, 5391)	0.03800127894158689
  (20799, 5356)	0.017857272039316852
  (20799, 5243)	0.03484531744820835
  (20799, 4818)	0.02161399868447341
  (20799, 4459)	0.012736318705972175
  (20799, 4441)	0.01603467848751772
  (20799, 3868)	0.027115621308844203
  (20799, 3762)	0.0186101104051801
  (20799, 3687)	0.02729335307674394
  (20799, 2675)	0.02856127283914947
  (20799, 2370)	0.018974752015082967
  (20799, 2325)	0.04198473526032595
  (20799, 2168)	0.23404867195924858
  (20799, 2043)	0.017569314877382603
  (20799, 1992)	0.013238470109795899
  (20799, 1449)	0.018351396979987927
  (20799, 1443)	0.025505577173836502
  (20799, 1407)	0.020014454383024523
  (20799, 687)	0.03230892420342383
  (20799, 392)	0.013073588918924855
  (20799, 1)	0.03251709019629798

In [15]:
# Splitting the data into test data and train data

x_train, x_test, y_train, y_test = train_test_split(tf_idf_matrix,y_df, random_state=0)

# LOGISTIC REGRESSION

In [16]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
Accuracy = logreg.score(x_test, y_test)

print(Accuracy*100)

94.23076923076923

# NAIVE BAYES

In [17]:
from sklearn.naive_bayes import MultinomialNB

NB = MultinomialNB()
NB.fit(x_train, y_train)
Accuracy = NB.score(x_test, y_test)

print(Accuracy*100)

81.38461538461539

# DECISION TREE

In [18]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
Accuracy = clf.score(x_test, y_test)

print(Accuracy*100)

88.36538461538461

# PASSIVE-AGGRESSIVE CLASSIFIER

In [21]:
from sklearn.metrics import accuracy_score

from sklearn.linear_model import PassiveAggressiveClassifier

pac=PassiveAggressiveClassifier(max_iter=50)

pac.fit(x_train,y_train)

 #Predict on the test set and calculate accuracy

y_pred=pac.predict(x_test)

score=accuracy_score(y_test,y_pred)

print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 96.83%

In [22]:
from sklearn.metrics import classification_report, confusion_matrix
#Checking the performance of our model
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.96      0.97      2564
           1       0.96      0.97      0.97      2636

    accuracy                           0.97      5200
   macro avg       0.97      0.97      0.97      5200
weighted avg       0.97      0.97      0.97      5200

[[2467   97]
 [  68 2568]]